@page "/customer/create";
@using HappyStorage.Common.Ui.Customers;
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper
@inject HappyStorage.Common.Ui.Customers.ICustomerCreateViewModel viewModel;

<h1>Create Customer</h1>

<EditForm Model="@newCustomer" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <h3>Name</h3>
        <label>First Name</label>
        <input class="form-control" bind="@newCustomer.FirstName" type="text" placeholder="First Name" />

        <label>Last Name</label>
        <input class="form-control" bind="@newCustomer.LastName" type="text" placeholder="First Name" />
    </div>
    <div class="form-group">
        <h3>Address</h3>

        <label>Street</label>
        <input class="form-control" bind="@newCustomer.Street" type="text" placeholder="1 Copley Parkway" />

        <label>City</label>
        <input class="form-control" bind="@newCustomer.City" type="text" placeholder="Morrisville" />

        <label>State</label>
        <input class="form-control" bind="@newCustomer.State" type="text" placeholder="NC" />

        <label>Zip</label>
        <input class="form-control" bind="@newCustomer.PostalCode" type="number" placeholder="27560" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn">Cancel</button>

    <button type="submit">Submit</button>
</EditForm>

@functions {

    private NewCustomerModel newCustomer = new NewCustomerModel();

    private void HandleValidSubmit()
    {
        viewModel.Create(newCustomer);
        UriHelper.NavigateTo("/customers");
    }
}