@page "/units"
@using HappyStorage.BlazorWeb.Components;
@inject HappyStorage.Common.Ui.Units.ViewModels.IUnitListViewModel viewModel;
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper;


<h1>Units</h1>
<div>
    <button class="btn btn-primary" onclick="@CreateUnit">Commission Unit</button>
</div>

<UnitFilter Filter="@viewModel.Filter" OnClickFilter="@ApplyFilter" />

@if (@viewModel.Units.Any())
{
    <br />
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><LabelComponent labelFor="@(() => viewModel.Units[0].UnitNumber)" /></th>
                    <th scope="col"><LabelComponent labelFor="@(() => viewModel.Units[0].PricePerMonth)" /></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            @foreach (var unit in viewModel.Units)
            {
                <tr>
                    <th scope="row">@unit.UnitNumber</th>
                    <td>@unit.PricePerMonth</td>
                    <td>
                        <a href="/Units/Reserve/@unit.UnitNumber" class="btn btn-sm btn-primary">Reserve</a>
                        <a href="/Units/Decommission/@unit.UnitNumber" class="btn btn-sm btn-danger">Decommission</a>
                    </td>
                </tr>
            }
        </table>
        @if (@viewModel.HasPrevPage)
        {
            <button class="btn btn-primary" onclick="@PrevPage">Prev</button>
        }
        @if (@viewModel.HasNextPage)
        {
            <button class="btn btn-primary" onclick="@NextPage">Next</button>
        }
    </div>
}

@functions {
    protected override void OnInit()
    {
        viewModel.Load();
    }

    protected void CreateUnit()
    {
        UriHelper.NavigateTo("/units/create");
    }

    protected void NextPage()
    {
        viewModel.NextPageCommand.Execute();
    }

    protected void PrevPage()
    {
        viewModel.PrevPageCommand.Execute();
    }

    protected void ApplyFilter(UIMouseEventArgs e)
    {
        viewModel.ApplyFilter();
    }
}
