@using HappyStorage.Common.Ui.Units.Models;

<div class="bg-light">
    <h4>Filter</h4>
    <div class="form-row">
        <div class="form-check form-check-inline mb-2 col-md-3">
            <input bind="@Filter.IsClimateControlled" class="form-check-input" type="checkbox" />
            <LabelComponent class="form-check-label" labelFor="@(() => Filter.IsClimateControlled)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-check form-check-inline mb-2 col-md-3">
            <input bind="@Filter.IsVehicleAccessible" class="form-check-input" type="checkbox" />
            <LabelComponent class="form-check-label" labelFor="@(() => Filter.IsVehicleAccessible)" />
        </div>
    </div>
    <div class="form-row">
        <div class="mb-2 col-md-2">
            <LabelComponent labelFor="@(() => Filter.MinimumCubicFeet)" />
            <input bind="@Filter.MinimumCubicFeet" class="form-control" type="number" />
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary mb-2" @onclick="OnClickFilter">Apply Filter</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickFilter { get; set; }

    [Parameter]
    public UnitListFilter Filter { get; set; }
}